<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleIconFile</key>
        <string>piratecash.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleGetInfoString</key>
        <string>0.11.5.4, Copyright © 2018 - 2019 The PirateCash developers</string>
	<key>CFBundleShortVersionString</key>
        <string>0.11.5.4</string>
	<key>CFBundleVersion</key>
        <string>0.11.5.4</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
        <string>PirateCash-Qt</string>
	<key>CFBundleIdentifier</key>
        <string>net.piratecash.piratecash-Qt</string>
        <key>CFBundleURLTypes</key>
        <array>
          <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>net.piratecash</string>
            <key>CFBundleURLSchemes</key>
            <array>
              <string>piratecash</string>
            </array>
          </dict>
        </array>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
